div.mce-toolbar-fast {
  background: #444;
  padding: 0;
  margin: 0;
  min-width: 45px;
  border: 0;
}

div.mce-toolbar-fast .mce-menu-item {
  padding: 5px 1px 5px 5px;
  border: 0;
  display: inline-block;
}

div.mce-toolbar-fast .mce-text {
  display: none;
}

.mce-i-fastlink:before {
  content: '\e011';
  color: #fff;
}

.mce-i-fastimage:before {
  content: '\e014';
  color: #fff;
}

.mce-i-fastmedia:before {
  content: '\e015';
  color: #fff;
}

.mce-i-fasttable:before {
  content: '\e01b';
  color: #fff;
}

.mce-ico.mce-i-fastshow {
  background: url(../img/icons.png) no-repeat -16px 0;
}

.mce-ico.mce-i-fastremove {
  background: url(../img/icons.png) no-repeat 0 0;
}