div.mce-toolbar-fast {
  /*position: absolute;
  z-index: 1201;
  display: none;
  background-image: none;
  padding: 0;
  margin: -1px;
  border: 0;
  min-width: 72px;
  line-height: 1em;*/
  background: #444;
  padding: 0;
  margin: 0;
  min-width: 45px;
  border: 0;
}

div.mce-toolbar-fast .mce-menu-item {
  padding: 5px 1px 5px 5px;
  border: 0;
  display: inline-block;
}

div.mce-toolbar-fast .mce-text {
  display: none;
}

/*body .mce-toolbar-fast a {
  padding: 4px;
  margin: 0;
  cursor: pointer;
  border: dotted 1px rgba(255, 255, 255, 0.7);
  outline: 0;
  color: #fff;
  text-align: left;
  vertical-align: middle;
  display: inline-block;
  font-size: .9em;
  background: rgba(0, 0, 0, 0.7);
  background-repeat: no-repeat;
  background-position: 0 0;
  box-sizing: border-box;
}

body .mce-toolbar-fast a:hover {
  background-color: rgba(0, 0, 0, 0.15);
}

body .mce-toolbar-fast .mce-toolbar-edit,
body .mce-toolbar-fast .mce-toolbar-remove,
body .mce-toolbar-fast .mce-toolbar-view {
  width: 24px;
  height: 24px;
  text-indent: -999em;
  overflow: hidden;
  background-image: url(../img/icons.png);
}

body .mce-toolbar-fast .mce-hide {
  display: none;
}

body .mce-toolbar-fast .mce-i-link {
  background-position: -48px 0;
}

body .mce-toolbar-fast .mce-i-media {
  background-position: -96px 0;
}

body .mce-toolbar-fast .mce-i-table {
  background-position: -120px 0;
}

body .mce-toolbar-fast .mce-toolbar-view {
  background-position: -72px 0;
}

body .mce-toolbar-fast .mce-toolbar-remove {
  background-position: -24px 0;
}

.mce-content-body table td,
.mce-content-body table th {
  position: relative;
}*/